run = "node server.js"
entrypoint = "server.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4000
externalPort = 3000

[env]
PORT = "3000"

[agent]
expertMode = true

[deployment]
run = ["sh", "-c", "node server.js"]
build = ["sh", "-c", "npm install"]
deploymentTarget = "cloudrun"
